In [5]:
import pandas as pd
import numpy as np

filename = 'world-happiness-report-2019.csv'
df = pd.read_csv(filename)
df.iloc[:,:-1].values

array([['Finland', 1, 4, ..., 4.0, 47.0, 22.0],
       ['Denmark', 2, 13, ..., 3.0, 22.0, 14.0],
       ['Norway', 3, 8, ..., 8.0, 11.0, 7.0],
       ...,
       ['Afghanistan', 154, 25, ..., 136.0, 137.0, 134.0],
       ['Central African Republic', 155, 117, ..., 122.0, 113.0, 152.0],
       ['South Sudan', 156, 140, ..., 61.0, 85.0, 140.0]], dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (region)         156 non-null    object
 1   Ladder                   156 non-null    int64
 2   SD of Ladder             156 non-null    int64
 3   Positive affect          155 non-null    float64
 4   Negative affect          155 non-null    float64
 5   Social support           155 non-null    float64
 6   Freedom                  155 non-null    float64
 7   Corruption               148 non-null    float64
 8   Generosity               155 non-null    float64
 9   Log of GDP
per capita    152 non-null    float64
 10  Healthy life
expectancy  150 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 13.5+ KB

In [7]:
df = df.drop_duplicates()
df = df.dropna()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (region)         140 non-null    object
 1   Ladder                   140 non-null    int64
 2   SD of Ladder             140 non-null    int64
 3   Positive affect          140 non-null    float64
 4   Negative affect          140 non-null    float64
 5   Social support           140 non-null    float64
 6   Freedom                  140 non-null    float64
 7   Corruption               140 non-null    float64
 8   Generosity               140 non-null    float64
 9   Log of GDP
per capita    140 non-null    float64
 10  Healthy life
expectancy  140 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 13.1+ KB

In [9]:
#second way
fill = pd.read_csv(filename)
drop  = fill.drop(columns='Country (region)')
df_filled = drop.fillna(drop.mean())
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Ladder                   156 non-null    int64
 1   SD of Ladder             156 non-null    int64
 2   Positive affect          156 non-null    float64
 3   Negative affect          156 non-null    float64
 4   Social support           156 non-null    float64
 5   Freedom                  156 non-null    float64
 6   Corruption               156 non-null    float64
 7   Generosity               156 non-null    float64
 8   Log of GDP
per capita    156 non-null    float64
 9   Healthy life
expectancy  156 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 12.3 KB

In [10]:



def remove_outliers(df):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df_no_outliers = df[((df >= lower_bound) & (df <= upper_bound)).all(axis=1)]
    
    return df_no_outliers


out = remove_outliers(df_filled)

In [11]:

statistics = df.describe()
print(statistics)

           Ladder  SD of Ladder  Positive affect  Negative affect  \
count  140.000000    140.000000       140.000000       140.000000
mean    79.157143     78.450000        78.242857        79.157143
std     45.700664     46.121255        44.331627        44.506126
min      1.000000      1.000000         1.000000         2.000000
25%     40.750000     39.750000        40.750000        40.750000
50%     79.500000     77.500000        78.500000        78.500000
75%    119.250000    119.250000       116.250000       117.250000
max    156.000000    156.000000       154.000000       154.000000

       Social support     Freedom  Corruption  Generosity  \
count      140.000000  140.000000  140.000000  140.000000
mean        77.500000   78.828571   75.700000   78.850000
std         45.815787   45.108972   42.656011   44.727782
min          1.000000    1.000000    1.000000    1.000000
25%         36.750000   39.750000   39.750000   40.750000
50%         77.500000   79.500000   76.500000   79.500000
75%        118.250000  118.250000  112.250000  116.250000
max        155.000000  155.000000  148.000000  155.000000

       Log of GDP\nper capita  Healthy life\nexpectancy
count              140.000000                140.000000
mean                79.014286                 75.478571
std                 43.356310                 43.979961
min                  2.000000                  1.000000
25%                 41.750000                 36.750000
50%                 78.500000                 77.500000
75%                117.250000                113.250000
max                152.000000                150.000000

In [23]:

mean = out.mean()
median = out.median()
std = out.std()
min_values = out.min()
max_values = out.max()

print(" mean : ")
print(mean)

print("median :")
print(median)

print("std :")
print(std)

print("min_values :")
print(min_values)

print("max_values :")
print(max_values)

 mean :
Ladder                      79.157143
SD of Ladder                78.450000
Positive affect             78.242857
Negative affect             79.157143
Social support              77.500000
Freedom                     78.828571
Corruption                  75.700000
Generosity                  78.850000
Log of GDP\nper capita      79.014286
Healthy life\nexpectancy    75.478571
dtype: float64
median :
Ladder                      79.5
SD of Ladder                77.5
Positive affect             78.5
Negative affect             78.5
Social support              77.5
Freedom                     79.5
Corruption                  76.5
Generosity                  79.5
Log of GDP\nper capita      78.5
Healthy life\nexpectancy    77.5
dtype: float64
std :
Ladder                      45.700664
SD of Ladder                46.121255
Positive affect             44.331627
Negative affect             44.506126
Social support              45.815787
Freedom                     45.108972
Corruption                  42.656011
Generosity                  44.727782
Log of GDP\nper capita      43.356310
Healthy life\nexpectancy    43.979961
dtype: float64
min_values :
Ladder                      1.0
SD of Ladder                1.0
Positive affect             1.0
Negative affect             2.0
Social support              1.0
Freedom                     1.0
Corruption                  1.0
Generosity                  1.0
Log of GDP\nper capita      2.0
Healthy life\nexpectancy    1.0
dtype: float64
max_values :
Ladder                      156.0
SD of Ladder                156.0
Positive affect             154.0
Negative affect             154.0
Social support              155.0
Freedom                     155.0
Corruption                  148.0
Generosity                  155.0
Log of GDP\nper capita      152.0
Healthy life\nexpectancy    150.0
dtype: float64

In [13]:
#Encoding
import sklearn
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['country_encoded'] = label_encoder.fit_transform(df['Country (region)'])
df.head()

df = df.drop(columns='Country (region)')

df.to_csv('world-happiness-report-2019-cleaned.csv', index=False)

df.head()

,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,country_encoded
0,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,41
1,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,34
2,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,98
3,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,54
4,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,93

In [14]:
df.describe()

,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,country_encoded
count,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.0000
mean,79.157143,78.450000,78.242857,79.157143,77.500000,78.828571,75.700000,78.850000,79.014286,75.478571,69.5000
std,45.700664,46.121255,44.331627,44.506126,45.815787,45.108972,42.656011,44.727782,43.356310,43.979961,40.5586
min,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.0000
25%,40.750000,39.750000,40.750000,40.750000,36.750000,39.750000,39.750000,40.750000,41.750000,36.750000,34.7500
50%,79.500000,77.500000,78.500000,78.500000,77.500000,79.500000,76.500000,79.500000,78.500000,77.500000,69.5000
75%,119.250000,119.250000,116.250000,117.250000,118.250000,118.250000,112.250000,116.250000,117.250000,113.250000,104.2500
max,156.000000,156.000000,154.000000,154.000000,155.000000,155.000000,148.000000,155.000000,152.000000,150.000000,139.0000